version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Staging
      ConnectionStrings__DefaultConnection: Host=db;Database=gg_test;Username=postgres;Password=${DB_PASSWORD}
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: gg_test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_test:/var/lib/postgresql/data

volumes:
  db_test:
